$ cat .gitignore
##### Data Folders:
/data

##### Submission Files:
/Submissions

##### Reference Files:
stacked-regressions-top-4-on-leaderboard.ipynb

##### Random Working Files:
WorkingNotebook_Backup.ipynb
Submissions_Work.ipynb
WorkingNotebook.ipynb